<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= @comment.upvotes %>
</p>

<p>
  <strong>Downvotes:</strong>
  <%= @comment.downvotes %>
</p>

<p>
  <strong>Deleted:</strong>
  <%= @comment.deleted %>
</p>

<p>
  <strong>Edit timestamp:</strong>
  <%= @comment.edit_timestamp %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
