<p id="notice"><%= notice %></p>

<h1>Sub Reddits</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_reddits.each do |sub_reddit| %>
      <tr>
        <td><%= sub_reddit.name %></td>
        <td><%= sub_reddit.description %></td>
        <td><%= link_to 'Show', sub_reddit %></td>
        <td><%= link_to 'Edit', edit_sub_reddit_path(sub_reddit) %></td>
        <td><%= link_to 'Destroy', sub_reddit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub Reddit', new_sub_reddit_path %>
